In [1]:
import pandas as pd 
import numpy as np 
import string

In [13]:
def remove_punctuation(QnA):
    translator = str.maketrans('', '', string.punctuation)
    QnA = QnA.translate(translator)
    return QnA

def HKD_to_DM(hkd):
    dm = hkd*0.234
    return dm

In [6]:
sample_json = {
    'AGE': '40', 
    'SEX': '1', 
    'JOB and RESIDENCY':'2', 
    'HOUSING':'rent', 
    'SAVING ACCOUNT BALANCE':'1,000,000', 
    'CHECKING ACCOUNT BALANCE':'100000', 
    'CREDIT AMOUNT':'10,000', 
    'CREDIT DURATION':'12', 
    'PURPOSE OF CREDIT':'vacation/others' 
}

# {'AGE': '40', 'SEX': '1', 'JOB and RESIDENCY': '2', 'HOUSING': 'rent', 'SAVING ACCOUNT BALANCE': '1,000,000', 'CHECKING ACCOUNT BALANCE': '100000', 'CREDIT AMOUNT': '10,000', 'CREDIT DURATION': '12', 'PURPOSE OF CREDIT': 'house'}

In [16]:
try:
    sample_json['SAVING ACCOUNT BALANCE'] = float(remove_punctuation(sample_json['SAVING ACCOUNT BALANCE']))
    sample_json['CHECKING ACCOUNT BALANCE'] = float(remove_punctuation(sample_json['CHECKING ACCOUNT BALANCE']))
    sample_json['CREDIT AMOUNT'] = float(remove_punctuation(sample_json['CREDIT AMOUNT']))

SyntaxError: incomplete input (2206884197.py, line 4)

In [17]:
def conversion(sample_json):
    sample_json['SAVING ACCOUNT BALANCE'] = HKD_to_DM(sample_json['SAVING ACCOUNT BALANCE'])
    sample_json['CHECKING ACCOUNT BALANCE'] = HKD_to_DM(sample_json['CHECKING ACCOUNT BALANCE'])
    sample_json['CREDIT AMOUNT'] = HKD_to_DM(sample_json['CREDIT AMOUNT'])
    return sample_json

sample_json = conversion(sample_json)

In [21]:
age = float(sample_json['AGE'])
job = sample_json['JOB and RESIDENCY']
credit_amount = np.log(sample_json['CREDIT AMOUNT'])
duration = float(sample_json['CREDIT DURATION'])
# Purpose: ['radio/TV' 'education' 'furniture/equipment' 'car' 'business' 'domestic appliances' 'repairs' 'vacation/others']
Purpose_car = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'car' else 0)
Purpose_domestic_appliances = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'domestic appliances' else 0)
Purpose_education = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'education' else 0)
Purpose_furniture_equipment = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'furniture/equipment' else 0)
Purpose_radio_TV = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'radio/TV' else 0) 
Purpose_repairs = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'repairs' else 0)
Purpose_vacation_others = (1 if sample_json['PURPOSE OF CREDIT'].lower() == 'vacation/others' else 0)
# Sex
Sex_male = (1 if float(sample_json['SEX']) == '1' else 0)
# Housing
Housing_own = (1 if sample_json['HOUSING'].lower() == 'own' else 0)
Housing_rent = (1 if sample_json['HOUSING'].lower() == 'rent' else 0)
# Saving Account Balance
Savings_moderate = (1 if (sample_json['SAVING ACCOUNT BALANCE']  >= 100 and sample_json['SAVING ACCOUNT BALANCE'] < 500) else 0)
Savings_no_inf = 0
Savings_quite_rich = (1 if (sample_json['SAVING ACCOUNT BALANCE'] >= 500 and sample_json['SAVING ACCOUNT BALANCE'] < 1000) else 0)
Savings_rich = (1 if sample_json['SAVING ACCOUNT BALANCE'] >= 1000 else 0)
# Checking Account
Check_moderate = (1 if (sample_json['CHECKING ACCOUNT BALANCE'] >= 0 and sample_json['CHECKING ACCOUNT BALANCE'] < 200) else 0)
Check_no_inf = 0
Check_rich = (1 if (sample_json['CHECKING ACCOUNT BALANCE'] >= 200) else 0)
# Age
Age_cat_Young = (1 if (age >= 25 and age < 35) else 0)
Age_cat_Adult = (1 if (age >= 35 and age < 60) else 0)
Age_cat_Senior = (1 if (age >= 60) else 0)

In [22]:
new = [age, job, credit_amount, duration, Purpose_car, Purpose_domestic_appliances, Purpose_education, Purpose_furniture_equipment, Purpose_radio_TV, Purpose_repairs, Purpose_vacation_others, Sex_male, Housing_own, Housing_rent, Savings_moderate, Savings_no_inf, Savings_quite_rich, Savings_rich, Check_moderate, Check_no_inf, Check_rich, Age_cat_Young, Age_cat_Adult, Age_cat_Senior]